@import "../../assets/style-utils/variables.scss";

#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10%;
    margin: 30px 0;

      @media (max-width: 800px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0 1%;
    }
  }

h2.projects-title{
  color:$light-second-color;
  font-size: 50px;
}