@import "../../assets/style-utils/variables.scss";

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    gap: 20px;
    max-width: 1200px;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    

    & p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        color: $light-second-color;
    }
}

.about-desc{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.pfp {
        width: 50%;
        border-radius: 40%;
        filter: drop-shadow(0px 30px 15px rgba(0, 0, 0, 0.7));

        @media (max-width: 800px) {
            width: 40%;
        }
    }