@import "../../assets/style-utils/variables.scss";

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    gap: 20px;
    max-width: 1200px;


    & img {
        height: 500px;
        border-radius: 40%;;
    }

    & p {
        font-size: 20px;
    }
}