@import "../../assets/style-utils/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    margin-bottom: 30px;
    width: 100%;
    background-color: $light-second-color;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.7));
    position: relative;
    z-index: 10;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    & ul {
        display: flex;

        & li {
            padding: 5px;
            color: $light-main-color ;

            & a {
                color: $light-main-color ;
            }

            &:hover {
               a, a:visited , a:active , a:focus{
                    color: $light-third-color;
                    text-decoration: underline;
                }
            }
        }
    }
}
