@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Raleway:wght@200;400;500;700;900&display=swap");
@import "./assets/style-utils/reset.scss";
@import "./assets/style-utils/variables.scss";

* {
  font-family:"Raleway";
}

body {
  background-color: $light-main-color;
  // display:flex;
  // flex-direction: column;
  // align-items: center;
}

h1, h2 ,h3{
  color: $light-main-color ;
  font-family: 'Ms Madi';
  font-size: 60px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.red{
  color:$light-third-color;
}